/* Reset básico */

body {
  margin: 0;

  padding: 0;

  font-family: Arial, sans-serif;

  line-height: 1.6;

  background-color: #f4f4f4;

  color: #333;
}

header {
  text-align: center;

  background-color: #222;

  color: white;

  padding: 20px 10px;

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  text-align: center;
}

header h1 {
  color: #038533;
  font-size: 48px;
  margin: 0px;
}

header h1 a {
  color: #038533;
  text-decoration: none;
}

header h2 {
  font-size: 14px;
  margin: -10px;
  margin-bottom: 10px;
}

nav {
  background-color: #000;

  padding: 5px;

  display: flex;

  justify-content: center;
}

nav ul {
  list-style-type: none;

  padding: 0;

  margin: 0;

  text-align: center;
}

nav ul li {
  display: inline;

  margin: 0 15px;
}

nav ul li a {
  color: white;

  text-decoration: none;

  font-weight: 400;
}

nav ul li a:hover {
  text-decoration: underline;
}

main h2 {
  text-align: center;
}

table {
  width: 90%;
  border-collapse: collapse;
  margin: 0 auto;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

thead {
  background-color: #333;
  color: #fff;
}

th,
td {
  border: 1px solid #999;
  text-align: center;
  padding: 5px;
}

tbody tr:nth-child(even) {
  background-color: #eee;
}

tbody tr:hover {
  background-color: #444;
  color: #f4f4f4;
}

.botaoNav {
  background-color: #038533;

  margin-left: 70px;

  padding: 10px 20px;

  border: none;

  border-radius: 5px;

  cursor: pointer;
}

button:hover {
  background-color: #04a32c;
}

.botaoNav a {
  color: #fff;
  text-decoration: none;
}

footer {
  background-color: #333;

  color: #fff;

  text-align: center;

  padding: 20px;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  header h1 {
    font-size: 36px;
  }

  header h2 {
    font-size: 12px;
  }

  nav ul li a {
    font-size: 14px;
  }

  nav ul li {
    display: block;
    margin: 10px 0;
  }

  .botaoNav {
    display: block;
    margin: 10px auto;
  }

  table {
    width: 50%;
    font-size: 12px;
  }
}
