/* Reset básico */

body {
  margin: 0;

  padding: 0;

  font-family: Arial, sans-serif;

  line-height: 1.6;

  background-color: #f4f4f4;

  color: #333;
}

/* Cabeçalho */

header {
  text-align: center;

  background-color: #222;

  color: white;

  padding: 20px 10px;

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  text-align: center;
}

header h1 {
  color: #038533;
  font-size: 48px;
  margin: 0px;
}

header h1 a {
  color: #038533;
  text-decoration: none;
}

header h2 {
  font-size: 14px;
  margin: -10px;
  margin-bottom: 10px;
}

/* Navegação */

nav {
  background-color: #000;

  padding: 5px;

  display: flex;

  justify-content: center;
}

nav ul {
  list-style-type: none;

  padding: 0;

  margin: 0;

  text-align: center;
}

nav ul li {
  display: inline;

  margin: 0 15px;
}

nav ul li a {
  color: white;

  text-decoration: none;

  font-weight: 400;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Seções de produtos */

main {
  max-width: 900px;

  margin: 20px auto;

  padding: 0 20px;

  background-color: #fff;
}

main section {
  border: 3px solid #ccc;

  display: flex;

  flex-direction: column;

  align-items: center;

  text-align: justify;

  padding: 20px 20px;

  margin-bottom: 10px;

  border-radius: 5px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main h2 {
  text-align: center;
}

section h3 {
  color: #038533;
  font-weight: bold;
}

section img {
  display: block;

  margin: 10px auto;

  max-width: 100%;

  height: auto;
}

/* Frete Grátis */

.freteGratis {
  color: #038533;
  font-weight: bold;
}

/* Botôes */

.botaoDeCompra button,
.botaoNav {
  background-color: #038533;

  padding: 10px 20px;

  border: none;

  border-radius: 5px;

  cursor: pointer;
}

button:hover {
  background-color: #04a32c;
}

.botaoDeCompra button a,
.botaoNav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

footer {
  background-color: #333;

  color: #fff;

  text-align: center;

  padding: 20px;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  header h1 {
    font-size: 36px;
  }

  header h2 {
    font-size: 12px;
  }

  nav ul li a {
    font-size: 14px;
  }

  nav ul li {
    display: block;
    margin: 10px 0;
  }

  main h2 {
    text-align: center;
    font-size: 20px;
  }
}
